body {
  background: #0c0c0c;
}

.menu-box-wrapper {
  transform: rotateY(180deg);
  display: grid;
  opacity: 0;
  list-style-type: none;
  padding-top: 10vh;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: 0.49, 0.25, 0.81, 1.84;
  pointer-events: none;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont2 {
  width: 100vw;
  height: 900px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont2 .menu-box-wrapper {
  padding-top: 4vh;
  opacity: 1;
  pointer-events: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cont2.active > #arrowTwo {
  opacity: 1;
}

.einstein {
  font-family: 'Dosis', sans-serif;
  color: rgb(204, 77, 3);
  font-size: 32px;
  font-weight: bold;
  align-items: flex-end;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  user-select: none;
  height: 100px;
  width: 200px;
  background-image: url(images/e_mc2png.png);
  background-repeat: no-repeat;
}

.material-icons:hover, button {
  color: #b8860b;
}
